management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
    org.springframework.web: WARN

spring:
  jackson:
    serialization:
      INDENT_OUTPUT: true
